.how-it-works {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #808080;
}

.body-container {
  /*width: 800px;*/
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.card-img {
  height: 275px;
  width: 200px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(100,100,100,0.5)
}

.card-txt {
  color: #808080;
  text-align: center;
}

@media (max-width: 620px) {
  .card-img {
    width: 150px;
  }
  h3 {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .card-img {
    width: 100px;
    height: 150px;
  }
  h3 {
    font-size: 10px;
  }
  .footer p {
    font-size: 12px;
  }
}
